In [ ]:
print("Twinkle, twinkle, little star,\n How I wonder what you are!\n\n Up above the world so high,\n Like a diamond in the sky.\n\n Twinkle, twinkle, little star,\n How I wonder what you are")

In [ ]:
fn=input("enter your firstname:")
ln=input("enter your lastname:")
print(ln," ",fn)

In [ ]:
r=int(input("enter radius of circle:"))
print("area:",3.14*r*r)

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print("first color:", color_list[0], "last color:",color_list[-1])

In [ ]:
n=int(input("enter your number to generate series:"))
for i in range(1,4):
    print(n**i)

In [ ]:
#Sample data : 3, 5, 7, 23
sample=input("enter numbers eperated by commas:")
sample_t=tuple(sample)
print(sample_t)

sample_l=[]
for i in sample:
    sample_l.append(i)
print(sample_l)

In [ ]:
import math
ctemp=input("enter temperature in celsius:")
ftemp=((float(ctemp)*9/5)+32)
print(ftemp)

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))

a+=b
a,b=b,a
print(a,b)

In [ ]:
num=int(input("enter number:"))
if num%2==0:
    print("even")
else:
    print("odd")

In [ ]:
year=int(input("enter year:"))
if year%4==0:
    print("leap")
else:
    print("not leap")

In [ ]:
import math
x1=int(input("x coord of 1:"))
x2=int(input("x coord of 2:"))
y1=int(input("y coord of 1:"))
y2=int(input("y coord of 2:"))

d=(((y2-y1)**2)-(x2-x1)**2)
print(math.sqrt(d))

In [ ]:
a = int(input("angle1"))
b = int(input("angle2"))
c = int(input("angle3"))

if a+b+c == 180 and a>0 and b>0 and c>0:
    print("Triangle")
else:
    print("Not Triangle")

In [ ]:
p = float(input("principal:"))
r = float(input("rate of intetrst:"))
t = float(input("time in years"))

ci = p * ((1 + r/100) ** t) - p
print(ci)

In [ ]:
n = int(input("Enter number:"))
if n<2:
    print("Not Prime")
else:
    f = 0
    for i in range(2,n):
        if n%i==0:
            f = 1
            break
    if f==0:
        print("Prime")
    else:
        print("Not Prime")

In [ ]:
n = int(input("enter num:"))
s = 0
for i in range(1,n+1):
    s += i*i
print(s)